.home {
  text-align: center;
}

.home-phrase {
  display: block;
  font-size: 2.5vw;
  position: static;
  padding: 3%;
}

.home-waves {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0px 10vw;
  align-items: center;
}

.wave {
  width: 100%;
  height: 80%;
  max-width: 100px;
  max-height: 500px;
  background-color: var(--IconesLinks);
  border-radius: 50px;
  position: relative;
  margin: 0% 4%;
}

.wave:nth-child(1),
.wave:nth-child(5) {
  transform: translateY(2vh);
}

.wave:nth-child(2),
.wave:nth-child(4) {
  transform: translateY(-2vh);
}

.wave:nth-child(3),
.wave:nth-child(6) {
  transform: translateY(-5vh);
}


@media (max-width:900px) {

  .home-waves{
    padding:0;
    justify-content: space-between;
  }

  .wave {
    width: 100%;
    height: 50%;
    margin: 0px 10px;
  }
}