/* Estilos gerais de navegação */
.nav-container {
    background-color: var(--Navbar);
    padding: 0 ;
    width: 100%;
    position: fixed;
    top:0;
    z-index:1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-icon {
    display: none;
}

/* Estilos comuns dos itens de navegação */
.nav-item,
.logo_name {
    text-decoration: none;
    color: var(--IconesLinks);
    padding: 0 5px;
    border-radius: 5px;
    margin: 5px;
}

.nav-log {
    text-decoration: none;
    color: var(--Navbar);
    background-color: var(--IconesLinks);
    padding: 10px;
    border-radius: 30px;
    border: 2px solid var(--IconesLinks);
}

.nav-sign {
    text-decoration: none;
    color: var(--IconesLinks);
    background-color: var(--Navbar);
    border: 2px solid var(--IconesLinks);
    padding: 10px;
    margin-right: 10px;
    border-radius: 30px;
}

.nav-log>i {
    padding: 0 1px;
}

.nav-log:hover,
.nav-sign:hover {
    background-color: var(--Background);
    border: 2px solid var(--Background);
    color: var(--Text);
}

.nav-item:hover {
    color: var(--Background);
    background-color: var(--Hover);
    padding: 5px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo-name {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--IconesLinks);
    padding: 10px;
}

.logo-name:hover {
    color: var(--Background);
}

/* .logo-icon {
    height: 100%;
    object-fit: cover;
    padding-bottom: 5px;
} */

@media (max-width:900px) {
    .nav-container {
        justify-content: space-between;
    }

    .logo_name {
        font-size: 20px;
    }

    .nav-icon {
        display: inline;
    }

    .nav-links {
        color: var(--Background);
        display: none;
        position: absolute;
        top: 50px;
        right: 5px;
        border-radius: 4px;
        background-color: var(--Hover);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.678);
        flex-direction: column;
        width: 150px;
    }

    .nav-links .nav-link {
        padding: 20px;
        text-align: left;
        width: 100%;
    }

    .nav-item:hover {
        padding-bottom: 0;
        padding-top: 0;
    }

    .nav-log,
    .nav-sign {
        margin: 0;
        border: none;
        border-radius: 0;
    }

    .nav-log:hover,
    .nav-sign:hover {
        color: var(--Texto);
    }
}

.dropdown-toggle {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    background-color: var(--Hover);
    border-radius: 5px;
    border: 1px solid var(--IconesLinks);
}

.dropdown-toggle>p {
    padding: 0 5px;
}

.user-container {
    position: relative;
    cursor: pointer;
}

.user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 100px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content .dropdown-item {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content .dropdown-item:hover {
    background-color: var(--NavFooter);
}

.dropdown-content .dropdown-divider {
    height: 1px;
    margin: 5px 0;
    background-color: var(--NavFooter);
    border: none;
}

.dropdown-btn {
    text-align: center;
    padding: 0 20px;
    width: 100%;
    height: 30px;
}

/* Mostrar o conteúdo do dropdown ao ser clicado */
.user-container:hover .dropdown-content {
    display: block;
}