.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--NavFooter);
    width: fill;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.nav-footer-items .fa-brands{
    padding: 5px;
    font-size: 15px;
}