.nav-container {
    background-color: var(--Navbar);
    background: solid;
    display: flex;
    justify-content: space-between;
    padding: 2.5vh 2.5vw;
    align-items: center;
    justify-content: center;
}

.nav-icon {
    display: none;
}

.nav-item,
.logo_name {
    text-decoration: none;
    color: var(--IconesLinks);
    padding: 0px 5px;
    border-radius: 5px;
    margin: 5px;
}

.nav-log{
    text-decoration: none;
    color: var(--Hover);
    background-color: var(--IconesLinks);
    padding: 10px;
    border-radius: 30px;
}

.nav-log > i{
    padding:0px 10px;
}

.nav-item:hover {
    color: var(--Background);
    background-color: var(--Hover);
    padding: 5px;
}

.logo {
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo_name {
    font-weight: 700;
    font-size: 1.5vw;
}

.logo_icon {
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    padding-bottom: 5px;
}

@media (max-width: 992px) {
    .nav-container {
        justify-content: space-between;
    }

    .logo_name {
        font-size: 20px;
    }

    .nav-icons {
        display: inline;
    }

    .nav-container.responsive .nav-links {
        display: flex;
    }

    .nav-links {
        color:var(--Background);
        display: none;
        position: absolute;
        top: 50px;
        right: 5px;
        border-radius: 4px;
        background-color: var(--Hover);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.678);
        flex-direction: column;
        width: 100px;
        z-index: 10;
    }

    .nav-links nav-link {
        padding: 20px;
        text-align: left;
        width: 100%;
    }
}