.nav-container {
    background-color: var(--Navbar);
    background: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5vh 2.5vw;
    align-items: center;
    justify-content: center;
}

.nav-icon{
    display: none;
}

.nav-item, .logo_name{
    text-decoration: none;
    color: var(--IconesLinks);
    padding: 0px 5px;
    border-radius: 5px;
    margin:5px;
}

.nav-item:hover{
    color:var(--Hover);
    background-color: var(--Texto);
    padding: 5px;
}

.logo{
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.logo_name{
    font-weight: 700;
    font-size: 1.5vw;
}

.logo_icon{
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    padding-bottom: 5px;
}

@media (max-width: 992px) {
    .nav-icon{
        display: block;
    }
}