:root {
  /* variables light-mode */
  --Texto: #333333;
  --Background: #F5F5F5;
  --Hover: #47004B;
  --IconesLinks: #E57147;
  --Navbar: #47004B;
  --NavFooter: #2A2A2A;

  color: var(--Texto);
  background-color: var(--Background);
}

.dark-mode {
  --Texto: #E0E0E0;
  --Background: #1E1E1E;
  --Hover: #E57147;
  --IconesLinks: #D6A0B1;
  --Navbar: #47004B;
  --NavFooter: #2A2A2A;
}

body {
  margin: 0;
  font-family:'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.section {
  padding: 5vh 10vw;
}

.column {
  width: 50%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'area1 area2'
    'area3 area4';
  gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
}

.grid-item {
  background-color: #E57147;
  color: #fdfdfd;
  border-radius: 5px;
}

@media (max-width:900px) {
  h1 {
    font-size: 2rem !important;
  }

}